<h3> Please log in to continue</h3><br/>
<%= form_tag do %>
  <div class="clearfix">
    <label for="name" >Email:</label>
    <div class="input">
      <%= text_field_tag :email, params[:email], :class => 'text_field' %>
    </div>
  </div>
  <div class="clearfix">
    <label for="password" >Password:</label>
    <div class="input">
      <%= password_field_tag :password, params[:pwd],  :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn primary" type="submit">Login</button> 
  </div>  
<% end %>

