<ul id ="accact" class="nav nav-list">
<li class="nav-header">Accounts</li>
<% if activityaccounts.empty? %>
  <li>There is no activity for this section</li>
<%else%>
<% activityaccounts.each_with_index do |act,index| break if index == limit  %>
  <li><strong><%=  act.user_name %></strong> <%= " " + act.activity + " " %><%= link_to truncate(act.content, :length => 15), :controller => type, :action => 'show', :id => act.commentable_id  %><span id="litetext"><%= " " + time_ago_in_words(Time.parse(act.created_at.to_s)) + " ago"    %></span> </li>
<% end %>
<% end%>
</ul>




